.php-email-form {
    width: 100%;

    .form-group {
        padding-bottom: 8px;
    }

    .validate {
        display: none;
        color: red;
        margin: 0 0 15px 0;
        font-weight: 400;
        font-size: 13px;
    }

    .error-message {
        display: none;
        color: #fff;
        background: #ed3c0d;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }

    .sent-message {
        display: none;
        color: #fff;
        background: #18d26e;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }

    .loading {
        display: none;
        text-align: center;
        padding: 15px;

        &:before {
            content: '';
            display: inline-block;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            margin: 0 10px -6px 0;
            border: 3px solid #cda45e;
            border-top-color: #1a1814;
            animation: animate-loading 1s linear infinite;
        }

        @keyframes animate-loading {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    & input,
    & textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
        background: #0c0b09;
        border-color: #625b4b;
        color: white;
    }

    // & input::-webkit-input-placeholder,
    // & textarea::-webkit-input-placeholder {
    //     color: #a49b89;
    // }

    // & input::-moz-placeholder,
    // & textarea::-moz-placeholder {
    //     color: #a49b89;
    // }

    & input::placeholder,
    & textarea::placeholder {
        color: #a49b89;
    }

    & input:focus,
    & textarea:focus {
        border-color: #cda45e;
        background-color: inherit;
    }

    & input {
        height: 44px;
    }

    & textarea {
        padding: 10px 12px;
        min-height: 250px;
        max-height: 350px;
    }

    & button[type='submit'] {
        background: #cda45e;
        border: 0;
        padding: 10px 35px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
    }

    & button[type='submit']:hover {
        background: #d3af71;
    }
}